<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Temp</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            update_time = 1000;
            const relay_state = [];
            let $form = $('<form/>', {action: '', method: 'POST'});
            $form.append('<input type="text" id="timeout" value="1">');
            $form.append('<input type="button" id="submit" value="Submit">');
            $('#update_form').append($form);

            let $form2 = $('<form/>', {action: '', method: 'POST'});
            $form2.append('<input type="text" id="temp">');
            $form2.append('<input type="button" id="submit2" value="Submit">');
            $('#temp_form').append($form2);

            $.ajax({
                url: '/get_temp',
                contentType: 'application/json',
                dataType: 'json',
                success: function (result, status) {
                    $('#temp').val(result.temp);
                }
            });

            // Get the initial relay states from the server
            // Gets the status of the relays from the RPi
            $.ajax({
                url: '/get_current_status',
                contentType: 'text/plain',
                dataType: 'text',
                success: function (result, status) {
                    console.log(result);
                    $('#relay2').prop("checked",(result.split(",")[0] == 'True'));
                    $('#relay3').prop("checked",(result.split(",")[1] == 'True'));
                    $('#relay4').prop("checked",(result.split(",")[2] == 'True'));
                }
            });

            var doUpdate = function () {
                $.ajax({
                    url: '/receiver',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (result, status) {
                        $('#time').text(result.timestamp);
                        $('#content').text(result.temperature);
                        $('#isrelayon').text(result.isrelayon);
                    }
                });
                console.log(update_time);
            };
            interval = setInterval(doUpdate, update_time);

            $('#submit').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/set_interval',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({timeout: $('#timeout').val()}),
                    success: function (data, status) {
                        update_time = data.timeout * 1000;
                        console.log(update_time);
                        console.log(data);
                        clearInterval(interval);
                        interval = setInterval(doUpdate, update_time);

                    },
                    error: function (status) {
                        console.log("error " + status);
                    }
                });
            });


            $('#submit2').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/set_temp',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({temp: $('#temp').val()}),
                    success: function (data, status) {
                        update_temp = data.temp * 1;
                        console.log(update_temp);
                        console.log(data);
                    },
                    error: function (status) {
                        console.log("error " + status);
                    }
                });
            });



            // Sets the relay state form a checkbox event.
            function set_relays(rly) {
                // for (let i = 2; i < 5; i++) {
                console.log("relay loop")

                if ($('#relay' + rly).prop('checked')) {
                    relay_state[rly] = true;
                } else {
                    relay_state[rly] = false;
                }
                $.ajax({
                    type: 'POST',
                    url: '/set_relay/'+rly,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({relay: rly, state: relay_state[rly]}),
                    success: function (data, status) {
                        console.log(data)
                    },
                    error: function (status) {
                        console.log("error " + status);
                    }
                });
                // }
            }

            $('#relay2').change(function () {
                set_relays(2)
            });
            $('#relay3').change(function () {
                set_relays(3)
            });
            $('#relay4').change(function () {
                set_relays(4)
            });


        });

    </script>
</head>
<body>
<div class="container">
    <br>
    <div class="jumbotron">
        <h1>Beer Temperature Control</h1>
        <h3>Date/time: </h3>
        <div class="row">
            <div class="col" id="time"></div>
        </div>
        <h3>Temperature</h3>
        <div class="row">
            <div class="col" id="content"></div>
        </div>
        <h3>Heater on</h3>
        <div class="row">
            <div class="col" id="isrelayon"></div>
        </div>
        <h3>Update period</h3>
        <div class="row">
            <div class="col" id="update_form"></div>
        </div>
        <h3>Required temperature</h3>
        <div class="row">
            <div class="col" id="temp_form"></div>
        </div>
        <h3>Relay States</h3>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="relay2">
                    <label class="custom-control-label" for="relay2">Relay 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="relay3">
                    <label class="custom-control-label" for="relay3">Relay 3</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="relay4">
                    <label class="custom-control-label" for="relay4">Relay 4</label>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>